---
import { LinkButton } from "@astrojs/starlight/components";
import { CardGrid } from "@astrojs/starlight/components";
---

<div class="mt-[-3rem] min-[800px]:mt-[-14rem]">
  <div
    class="404-container overflow-hidden flex flex-nowrap flex-col gap-8 content-center items-center justify-center pt-[4rem] min-[800px]:py-[8rem]"
  >
    <div class="text-center">
      <h1 class="text-[6rem] min-[800px]:text-[8rem] mb-[-2rem]">
        <b>404</b>
      </h1>
      <h4>Page not found. Check the URL or try using the search bar.</h4>
    </div>
    <LinkButton href="/" icon="right-arrow">
      Back to Home
    </LinkButton>
  </div>
</div>
